.heading{
    text-align: center;
    text-transform: uppercase;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.wrapper button{
    background: #000000b4;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.accordian{
    width: 500px;
}

.item{
    background: #610000;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color: #fff;
    height: auto;
}